.intro {
  text-align: center;
  align-items: center;
}
.join {
  padding-top: 17px;
  padding-bottom: 15px;
}
.description-join {
  padding-bottom: 20px;
}
.btn-primary {
  margin-bottom: 20px;
}
form {
  text-align: center;
  margin-bottom: 20px;
}
.card {
  padding: 15px;
}
html {
  scroll-behavior: smooth;
}
